<div class="card-bottom" id="bottom">
  <div class="note-prop">

    <div class="reminder prop" role="button" matTooltip="Remind me" matTooltipClass="prop-tip"
      matTooltipPosition='below'></div>
    <div class="back-img prop" role="button" matTooltip="Add image" matTooltipPosition='below'></div>
    <div class="back-color prop" [matMenuTriggerFor]="menus" role="button" matTooltip="Change color"
      matTooltipPosition='below'>
      <mat-menu #menus="matMenu">
        <button mat-menu-item>

          <!-- (click)="deleteNote(note.notesId)" -->
          <p class="iconcolrcss hite" (click)="updateColor(card.notesId, '#FFFFFF')"></p>
          <p class="iconcolrcss red" (click)="updateColor(card.notesId, '#F28B82')"></p>
          <p class="iconcolrcss orange" (click)="updateColor(card.notesId,'#FBBC04')"></p>
          <p class="iconcolrcss yellow" (click)="updateColor(card.notesId, '#FFF475')"></p>
          <p class="iconcolrcss green" (click)="updateColor(card.notesId, '#CCFF90')"></p>
          <p class="iconcolrcss teal" (click)="updateColor(card.notesId, '#A7FFEB')"></p>
          <p class="iconcolrcss blue" (click)="updateColor(card.notesId, '#CBF0F8')"></p>
          <p class="iconcolrcss darkblue" (click)="updateColor(card.notesId, '#AECBFA')"></p>
          <p class="iconcolrcss purple" (click)="updateColor(card.notesId, '#D7AEFB')"></p>
          <p class="iconcolrcss pink" (click)="updateColor(card.notesId, '#FDCFE8')"></p>
          <p class="iconcolrcss brown" (click)="updateColor(card.notesId, '#E6C9A8')"></p>
          <p class="iconcolrcss grey" (click)="updateColor(card.notesId, '#E8EAED')"></p>

        </button>
      </mat-menu>

    </div>
    <!-- [card]="note" -->
    <div class="archive prop" role="button" matTooltip="Archive" (click)="archiveNote()"  matTooltipPosition='below'>
    </div>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon class="iconpadd">more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <!-- (click)="deleteNote(note.notesId)" -->
        <p (click)="trashNote(card.notesId);">Delete Note</p>
      </button>
      <button mat-menu-item disabled>
        <p>Add Label</p>
      </button>
    </mat-menu>
    <!--<div class="">  -->
    <!-- Templete statements -->
  </div>
</div>