.main-addnote{
    width: 500px;
    margin-left: 400px;
    margin-right: 20px; 
    margin-top: 20px;
    margin-bottom: 20px;
}
// .main-getnote{
//     margin-left: 100px; 
//     margin-top: 20px;
//     margin-bottom: 20px;
//     margin-right: 100px;
// }