

<div style="flex-direction: row;display: flex;margin: 10px;" *ngFor="let note of allNotes;">
  <mat-card class="card" ng-class="" >
      <div class="mainBlock">
          <div  id="title" #title contenteditable="false" aria-multiline="true" role="textbox" class="font n1"
              dir="ltr"><strong>{{note.title}}</strong></div>
          <div id="description" #description contenteditable="false" aria-multiline="true" role="textbox"
              class="font n1" dir="ltr">{{note.description}}</div>
     
      <div class="card-bottom" id="bottom">
          <div class="note-prop">
              <div class="reminder prop" role="button" matTooltip="Remind me" matTooltipClass="prop-tip"
                  matTooltipPosition='below'></div>
              <div class="back-img prop" role="button" matTooltip="Add image" matTooltipPosition='below'></div>
              <div class="back-color prop" role="button" matTooltip="Change color" matTooltipPosition='below'>
              </div>
              <div  class="archive prop" role="button" matTooltip="Archive" matTooltipPosition='below'></div>
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <mat-icon class="iconpadd">more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item>
                    <!-- (click)="deleteNote(note.notesId)" -->
                    <p>Delete Note</p>
                  </button>
                  <button mat-menu-item disabled>
                    <p>Add Label</p>
                  </button>
                </mat-menu>
              <!--<div class="">  -->
              <!-- Templete statements -->
          </div>
      </div>
  </div>
  </mat-card>
</div>