
<div class="divcenter">

  <div class ="center">
    <mat-card-title>
        <p >
          <span class="colorF" style="color:#4285F4">F</span>
          <span class="colorfundoo" style="color:#4285F4">UN</span>
          <span class="colorfundoo" style="color:#EA4335">DOO</span>
        </p>
    </mat-card-title>
</div>
  <div class="main signin">
    <span>Sign in</span>
  </div>
  <div class="main usefundoo">  
    <span>Use your FunDoo Account</span>

  </div>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Outline form field</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>
</div>