.divcenter{
  margin: auto;
  margin-top: 30px;
  border-radius: 15px;
  width: 60%;
  border: 1px solid #73AD21;
  padding: 10px; 
  background-color: #F5F5F5;
  }

  .center{ margin: auto;
      width: 50%;
      padding-left: 35%;
  padding-top: 35px; }

  .color-fundoo{
      font-weight: 550;
      font-size: 15px;
      font-family: sans-serif;
    }
    .colorF{
      font-weight: 500;
      font-size: 30px;
    }

  .main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .signin{
  color: #202124;
  padding-right: 35px;
  padding-top: 8px;
  font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
  font-size: 24px;
    line-height: 1.3333;
}
.usefundoo{
  color: #2d2f35;
  font-size: 16px;
  letter-spacing: .1px;
  line-height: 1.5;
  padding-bottom: 0;
  padding-top: 8px;
  font-weight: 400;
}