<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="example-toolbar shadow">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <img src="assets\images\keep.png" height="40">
    <span class="colorfundoo" style="color:#4285F4">F</span>
    <span class="colorfundoo" style="color:#4285F4">un</span>
    <span class="colorfundoo" style="color:#EA4335">doo</span>
  </mat-toolbar>

  
  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>
        <mat-nav-list (mouseover)="isExpandable=true" (mouseleave)="isExpandable=false">
          <div class="navlist active" fxLayout="row" (mouseover)="isExpandable=true" fxLayoutAlign="start center"
            fxLayoutGap="20px" mat-list-item routerLink="/home">
            <button class="navBtn btnPosition" mat-icon-button (mouseover)="isExpandable=true">
              <mat-icon>lightbulb</mat-icon>
            </button>
            <span class="navText " *ngIf="isExpandable">Notes</span>
          </div>
        </mat-nav-list>
        
        <mat-nav-list (mouseover)="isExpandable=true" (mouseleave)="isExpandable=false">
        
          <div class="navlist" fxLayout="row" fxLayoutAlign="start center" (mouseover)="isExpandable=true"
            fxLayoutGap="20px" mat-list-item routerLink="/home">
            <button class="navBtn btnPosition" mat-icon-button (mouseover)="isExpandable=true">
              <mat-icon>notifications_none</mat-icon>
            </button>
            <span class="navText " *ngIf="isExpandable">Reminder</span>
          </div>
          <div class="navlist" fxLayout="row" fxLayoutAlign="start center" (mouseover)="isExpandable=true"
            fxLayoutGap="20px" mat-list-item routerLink="/home">
            <button class="navBtn btnPosition" mat-icon-button (mouseover)="isExpandable=true">
              <mat-icon >edit</mat-icon>
            </button>
            <span class="navText " *ngIf="isExpandable">Edit Labels</span>
          </div>
          <div class="navlist" fxLayout="row" fxLayoutAlign="start center" (mouseover)="isExpandable=true"
            fxLayoutGap="20px" mat-list-item routerLink="/home">
            <button class="navBtn btnPosition" mat-icon-button (mouseover)="isExpandable=true">
              <mat-icon>archive</mat-icon>
            </button>
            <span class="navText " *ngIf="isExpandable">Archive</span>
          </div>
          <div class="navlist" fxLayout="row" fxLayoutAlign="start center" (mouseover)="isExpandable=true"
            fxLayoutGap="20px" mat-list-item routerLink="/home">
            <button class="navBtn btnPosition" mat-icon-button (mouseover)="isExpandable=true">
              <mat-icon>delete</mat-icon>
            </button>
            <span class="navText" *ngIf="isExpandable">Trash</span>
          </div>
        </mat-nav-list>
        
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <p *ngFor="let content of fillerContent">{{content}}</p>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>